:root {
  --border-radius: 12px;
}

.card-container {
  height: 305.425px;

  background-color: aliceblue;
  margin: 2rem;
  padding: 0.5rem;

  border: 2px solid rgb(29, 29, 27);
  border-bottom: 3px solid rgb(29, 29, 27);
  border-radius: 12px;
  box-shadow: 6px 7px 6px rgba(79, 25, 187, 0.5);

  transition: all 0.3s;

  transform-style: preserve-3d;

  position: relative;
}

.card-container:hover {
  box-shadow: 0px 4px 4px 5px rgba(79, 25, 187, 0.5);

  transform: translateY(-3%);
}

.card {
  position: absolute;
}

.card-a {
  /* display: none; */
  backface-visibility: hidden;
  z-index: 2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.card-b {
  /* display: none; */
  backface-visibility: hidden;
  z-index: 5;
  transform: rotateY(180deg);
  /* margin: 80%; */
}

.card-container.flipped {
  transform: rotateY(180deg);
}
/* .card:hover {
  transform: rotateY(180deg);
} */

img {
  z-index: 2;
}

.button-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-flex * {
  border-radius: var(--border-radius);
}

.hidden {
  display: none;
}
