:root {
  --border-radius: 12px;
}

.card-container {
  /* height: 305.425px; */
  height: 50vh;
  background-color: aliceblue;
  margin: 2rem;
  padding: 0.5rem;

  border: 2px solid rgb(29, 29, 27);
  border-bottom: 3px solid rgb(29, 29, 27);
  border-radius: 12px;
  box-shadow: 6px 7px 6px rgba(79, 25, 187, 0.5);

  transition: all 0.3s;

  transform-style: preserve-3d;

  position: relative;
}

.card-container:hover {
  box-shadow: 0px 4px 4px 5px rgba(79, 25, 187, 0.5);

  transform: translateY(-3%);
}

h2 {
  font-size: 1.2rem;
}

.card {
  position: absolute;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card-a {
  /* display: none; */
  backface-visibility: hidden;
  z-index: 2;
}
.card-b {
  /* display: none; */
  backface-visibility: hidden;
  z-index: 5;
  transform: rotateY(180deg);
  /* margin-top: -110%; */
}

.card-container.flipped {
  transform: rotateY(180deg);
}
/* .card:hover {
  transform: rotateY(180deg);
} */

img {
  z-index: 2;
}

.flip-btn {
  font-family: 'Pacifico', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;

  border: 1px solid rgb(170, 16, 88);
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(79, 25, 187, 0.5);
}

.button-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-flex * {
  border-radius: var(--border-radius);
}

.hidden {
  display: none;
}
