@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Rubik', sans-serif;
*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    to left,
    rgba(202, 16, 59, 0.7) 0%,
    rgba(197, 152, 4, 0.4) 100%
  );
  /* background: repeating-linear-gradient(
    45deg,
    rgb(202, 16, 59),
    #ca103b 1px,
    #ffffff 3px,
    #ffffff 8px
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
